.alert {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    background-color: #edd4d4;
    color: #571515;
    border: 1px solid #e6c3c3;
}

.pages{
    border-bottom: 2px solid black;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.pages__page {
    margin-right: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.pages__page--active {
    margin-right: 25px;
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px;
}

.item-card {
    width: calc(25% - 20px);
    height: fit-content;
}

.item-card:hover {
    transform: translateY(-5px);
}

.item-card__image {
    width: 100%;
    position: relative;
}

.item-card__image-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.item-card__label {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 75px 75px 0;
    border-color: transparent red transparent transparent;
}

.item-card__label::before {
    content: "SOLD";
    position: absolute;
    top: 10px;
    right: -70px;
    transform: rotate(45deg);
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.item-card__name {
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
}

@media (max-width: 850px) {
    .item-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .item-card {
        width: 100%;
    }
}