.alert {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.purchase-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.purchase-details {
    width: 60%;
}

.purchase-item {
    display: flex;
}

.purchase-item__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.purchase-item__info {
    flex-grow: 1;
}

.purchase-item__price {
    font-size: 25px;
    color: #333;
}

.purchase-method,
.purchase-address {
    margin: 20px;
}

.purchase-method__select {
    width: 30%;
    margin-left: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.purchase-address {
    margin: 20px;
}

.purchase-address__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-address__title {
    font-size: 16px;
    font-weight: bold;
}

.purchase-address__change-link {
    color: blue;
    text-decoration: none;
    font-size: 14px;
    margin-left: auto;
}

.error__message {
    color: red;
    margin-left: 30px;
}

.address-text {
    margin-left: 30px;
}

.purchase-summary {
    width: 35%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.summary-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.summary-box__item {
    font-weight: bold;
}

.purchase-summary__button {
    width: 100%;
    padding: 15px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}