.purchase-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.purchase-details {
    width: 50%;
}

.purchase-item {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.purchase-item__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.purchase-item__price {
    font-size: 25px;
    color: #333;
}

.purchase-method,
.purchase-address {
    padding: 30px;
    border-bottom: 1px solid black;
}

.purchase-method__select {
    width: 50%;
    margin-left: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.purchase-address__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-address__title {
    font-size: 16px;
    font-weight: bold;
}

.purchase-address__change-link {
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

.error__message {
    color: red;
    margin-left: 30px;
}

.address-text {
    margin-left: 30px;
}

.purchase-summary {
    width: 45%;
    padding: 20px;
}

.summary-details {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin-bottom: 50px;
}

.summary-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid black;
}

.purchase-summary__button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #ff5a5a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.purchase-summary__button:hover {
    background-color: #e03a3e;
}

@media (max-width: 850px) and (min-width: 768px) {
.purchase-method__select {
        width: 60%;
    }
}